<?xml version="1.0"?>
<config>
    <modules>
        <KKL_SeatPicker>
            <version>0.1.0</version>
        </KKL_SeatPicker>
    </modules>
    <global>
        <models>
            <kkl_seatpicker>
                <class>KKL_SeatPicker_Model</class>
                <resourceModel>kkl_seatpicker_resource</resourceModel>
            </kkl_seatpicker>
            <kkl_seatpicker_resource>
                <class>KKL_SeatPicker_Model_Resource</class>
                <entities>
                    <mapping>
                        <table>kkl_mapping</table>
                    </mapping>
                </entities>
            </kkl_seatpicker_resource>
        </models>
        <blocks>
            <kkl_seatpicker>
                <class>KKL_SeatPicker_Block</class>
            </kkl_seatpicker>
        </blocks>
        <helpers>
            <kkl_seatpicker>
                <class>KKL_SeatPicker_Helper</class>
            </kkl_seatpicker>
        </helpers>
        <resources>
            <kkl_seatpicker_setup>
                <setup>
                    <module>KKL_SeatPicker</module>
                </setup>
            </kkl_seatpicker_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <kkl_seatpicker>
                    <files>
                        <default>KKL_SeatPicker.csv</default>
                    </files>
                </kkl_seatpicker>
            </modules>
        </translate>
        <layout>
            <updates>
                <kkl_seatpicker>
                    <file>kkl_seatpicker.xml</file>
                </kkl_seatpicker>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <seatpicker>
                <use>admin</use>
                <args>
                    <module>KKL_SeatPicker</module>
                    <frontName>seatpicker</frontName>
                </args>
            </seatpicker>
        </routers>
    </admin>
</config>